<div id="menu-first-clmn" class="pull-left">
  <a href="#">
    <%= image_tag "store/ss_theme/#{sting_to_underscore(taxonomy.name)}.png", alt: 'helpdesk', id: 'main-img' %>
  </a>
  <a href="#"><h3 class="main-head"><%= taxonomy.name %></h3></a>
  <!--<a href="#"><h3 id="support-h">Support</h3></a> -->
  <a href="#">
    <%= image_tag 'store/ss_theme/order_now.png', id: 'ordernow' %>
  </a>
  <a href="#">
    <%= image_tag 'store/ss_theme/helpsupport.png', id: 'helpsupport' %>
  </a>
  <div id="menu-media">
  <a href="#"><%= image_tag 'store/ss_theme/twitter.png' %></a>
  <a href="#"><%= image_tag 'store/ss_theme/facebook.png' %></a>
  <a href="#"><%= image_tag 'store/ss_theme/in.png', alt: 'Linkedin' %></a>
  <a href="#"><%= image_tag 'store/ss_theme/google_plus.jpg' %></a>
  </div>
</div>